@font-face {
  font-family: 'DS Indigo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/DSIndigo-Regular/DSIndigo-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'DS Indigo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/DSIndigo-Light/DSIndigo-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'DS Indigo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/DSIndigo-Medium/DSIndigo-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'DS Indigo';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/DSIndigo-SemiBold/DSIndigo-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'DS Indigo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/DSIndigo-Bold/DSIndigo-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'DS Indigo';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/DSIndigo-Black/DSIndigo-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'DS Indigo';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/DSIndigo-Italic/DSIndigo-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'DS Indigo';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/DSIndigo-LightItalic/DSIndigo-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'DS Indigo';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/DSIndigo-MediumItalic/DSIndigo-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'DS Indigo';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/DSIndigo-SemiBoldItalic/DSIndigo-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'DS Indigo';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/DSIndigo-BoldItalic/DSIndigo-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'DS Indigo';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/DSIndigo-BlackItalic/DSIndigo-BlackItalic.woff2') format('woff2');
}
